{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "arrow-spacing": "error",
    "space-before-blocks": "error",
    "prefer-const": "error",
    "space-infix-ops": "error",
    "no-const-assign": "error",
    "wrap-iife": "error",
    "comma-spacing": "error",
    "key-spacing": "error",
    "keyword-spacing": "error",
    "object-curly-spacing": "error",
    "no-var": "error",
    "rest-spread-spacing": "error",
    "quotes": ["error", "single"],
    "no-console": "off",
    "no-debugger": "off",
    "no-prototype-builtins": "off",
    "no-undef": "warn",
    "new-cap": "warn"
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  }
}